@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard Regular'), url('/fonts/Pretendard-Regular.subset.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard Bold'), url('/fonts/Pretendard-Bold.subset.woff2') format('woff2');
}


* {
  font-family: 'Pretendard';
  font-size: 18px;
  letter-spacing: -0.1px;
  word-break: keep-all;
  line-height: 160%;
  border-radius: 5px;
  border-width: 1px;
}

h1 {
  text-align: center;
  font-weight: 400;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 20px;
  font-size: 45px;
  line-height: 120%;
}

object {
  max-width: 100%;
}

select,
button,
input {
  height: 42px;
  padding: 0px 10px;
  margin: 3px;
}

.popup {
  display: none;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  line-height: 29px;
  height: 29px;
  padding: 7px 14px;
  margin: 3px 0px 3px 6px;
  animation: appear;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
  -webkit-animation: appear;
  -webkit-animation-duration: 1s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-fill-mode: forwards;
}

.container {
  display: flex;
  justify-content: center;
}

#complete {
  display: none;
  background-color: darkblue;
  border-radius: 10px;
  border-width: 0px;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: aquamarine;
  letter-spacing: .2rem;
}

#questions {
  text-align: center;
}

#questions span {
  font-size: 30px;
}

#score {
  line-height: 100%;
}

#display {
  font-size: 40px;
  text-align: center;
}

#timer {
  text-align: center;
  margin: 0px 3px 10px 5px;
}

#main {
  margin-left: 30px;
}

#type-area {
  text-align: center;
}

#answer {
  display: inline-block;
}

#submit {
  background-color: #bbbbbb;
}

#wrong {
  background-color: tomato;
}

#duplicate {
  background-color: yellow;
}

#correct {
  background-color: greenyellow;
}

@keyframes appear {
  0% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}

@media (max-width: 1300px) {
  #wrapper {
    flex-direction: column;
    margin: 0px 2vw;
  }

  #main {
    flex-direction: column;
  }

  #time {
    flex-direction: row;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  #questions {
    margin-top: 20px;
    margin-left: 7vw;
  }

  #display {
    line-height: 120%;
  }

  object {
    max-height: calc(100vh - 100px);
  }
}

@media (min-width: 1301px) and (max-width: 2681px) {
  #left-panel {
    width: 220px;
    max-width: 220px;
  }

  #wrapper {
    flex-direction: row;
    margin: 0px 30px;
  }

  #main {
    flex-direction: column;
  }

  #time {
    flex-direction: column;
    margin-top: 23vh;
    margin-bottom: 3vh;
  }

  #questions {
    margin-top: 30px;
  }

  object {
    max-height: calc(100vh - 150px);
  }
}

@media (min-width: 2682px) {
  #left-panel {
    width: 220px;
    max-width: 220px;
  }

  #wrapper {
    flex-direction: row;
    margin: 0px 30px;
  }

  #main {
    flex-direction: row;
    justify-content: center;
  }

  #time {
    flex-direction: column;
    margin-top: 23vh;
    margin-bottom: 3vh;
  }

  #questions {
    margin-top: 30px;
  }

  #type-area {
    margin-top: 45vh;
    margin-left: 2vh;
  }

  object {
    max-height: 100vh;
  }
}